<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ghc.project.seedoctor.mapper.PatientInfoMapper">

    <resultMap id="PatientResult" type="PatientInfo">
        <id property="patientId" column="patient_id"/>
        <result property="patientCard" column="patient_card"/>
        <result property="patientName" column="patient_name"/>
        <result property="sex" column="sex"/>
        <result property="birthday" column="birthday"/>
        <result property="age" column="age"/>
        <result property="delFlag" column="delflag"/>
        <result property="createUser" column="create_user"/>
        <result property="createTime" column="create_time"/>
        <result property="updateUser" column="update_user"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>


    <select id="getPatientInfoByCardID" resultMap="PatientResult">
        select *
        from patient_info
        where patient_card = #{cardId}
    </select>

    <insert id="addPatientInfo">
        insert into patient_info(
        <if test="patientName != null and patientName !='' ">patient_name,</if>
        <if test="patientCard != null and patientCard !='' ">patient_card,</if>
        <if test="sex != null and sex !='' ">sex,</if>
        <if test="birthday != null and birthday != 0 ">birthday,</if>
        <if test="age != null and age != 0 ">age,</if>
        <if test="addr != null and addr !=''">addr</if>
        <if test="createTime != null and createTime !=''">createTime</if>
        )values (
        <if test="patientName != null and patientName !=''">#{patientInfo.patientName},</if>
        <if test="patientCard != null and patientCard !=''">#{patientInfo.patientCard},</if>
        <if test="sex != null and sex !=''">#{patientInfo.sex},</if>
        <if test="birthday != null and birthday !=''">#{patientInfo.birthday},</if>
        <if test="age != null and age !=''">#{patientInfo.age},</if>
        <if test="addr != null and addr !=''">#{patientInfo.addr},</if>
        sysdate()
        )
    </insert>

    <select id="getPatient" resultMap="PatientResult">
        select *
        from patient_info
        where delflag = '0'
        <if test="patientName != null and patientName != '' ">
            and patient_name = #{patientInfo.patientName}
        </if>
        <if test="phone != null and phone != '' ">
            and phone = #{patientInfo.phone}
        </if>
        <if test="patientCard != null and patientCard != '' ">
            and patient_card = #{patientInfo.patientCard}
        </if>
    </select>
</mapper>