<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ghc.project.media.mapper.MediaUserMapper">

    <resultMap type="MediaUser" id="MediaUserResult">
        <id property="userId" column="user_id"/>
        <result property="userName" column="user_name"/>
        <result property="deptId" column="dept_id"/>
        <result property="phoneNumber" column="phonenumber"/>
        <result property="grade" column="grade"/>
        <result property="background" column="background"/>
        <result property="delFlag" column="del_flag"/>
        <result property="sex" column="sex"/>
        <result property="age" column="age"/>
        <result property="password" column="password"/>
        <result property="scheduling" column="scheduling"/>
        <result property="status" column="status"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
        <result property="deptName" column="dept_name"/>
    </resultMap>

    <sql id="selectUser">
        select u.user_id
             , u.user_name
             , u.dept_id
             , u.password
             , d.dept_name
             , u.phonenumber
             , u.sex
             , u.age
             , u.scheduling
             , u.grade
             , u.background
             , u.status
             , u.create_by
             , u.create_time
             , u.remark
        from media_user u
                 left join media_dept d on u.dept_id = d.dept_id
    </sql>


    <select id="selectUserList" parameterType="MediaUser" resultMap="MediaUserResult">
        select u.user_id, u.user_name, u.dept_id, u.dept_id, d.dept_name, u.phonenumber, u.sex, u.age, u.scheduling,
        u.grade, u.background
        , u.status, u.create_by, u.create_time, u.remark
        from media_user u
        left join media_dept d on u.dept_id = d.dept_id
        where u.del_flag = '0'
        <if test="deptId != null and deptId != ''">
            AND d.dept_id = #{deptId}
        </if>
        <if test="userName != null and userName != ''">
            AND u.user_name like concat('%', #{userName}, '%')
        </if>
        <if test="status != null and status != ''">
            AND u.status = #{status}
        </if>
        <if test="phoneNumber != null and phoneNumber != ''">
            AND u.phonenumber like concat('%', #{phoneNumber}, '%')
        </if>
        <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
            AND date_format(u.create_time,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
        </if>
        <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
            AND date_format(u.create_time,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
        </if>
    </select>

    <select id="selectUserByUserName" parameterType="String" resultMap="MediaUserResult">
        <include refid="selectUser"/>
        where u.user_name = #{userName}
    </select>

    <select id="selectUserById" parameterType="Long" resultMap="MediaUserResult">
        <include refid="selectUser"/>
        where u.user_id = #{userId}
    </select>


    <insert id="insertUser" parameterType="MediaUser" useGeneratedKeys="true" keyProperty="userId">
        insert into media_user(
        <if test="userId != null and userId != 0">user_id,</if>
        <if test="userName != null and userName != ''">user_name,</if>
        <if test="deptId != null and deptId != 0">dept_id,</if>
        <if test="password != null and password != ''">password,</if>
        <if test="phoneNumber != null and phoneNumber != ''">phonenumber,</if>
        <if test="grade != null and grade != ''">grade,</if>
        <if test="background != null and background != ''">background,</if>
        <if test="sex != null and sex != ''">sex,</if>
        <if test="age != null and sex != ''">age,</if>
        <if test="scheduling != null and scheduling != ''">scheduling,</if>
        <if test="status != null and status != ''">status,</if>
        <if test="createBy != null and createBy != ''">create_by,</if>
        <if test="remark != null and remark != ''">remark,</if>
        create_time
        )values(
        <if test="userId != null and userId != ''">#{userId},</if>
        <if test="userName != null and userName != ''">#{userName},</if>
        <if test="deptId != null and deptId != 0">#{deptId},</if>
        <if test="password != null and password != ''">#{password},</if>
        <if test="phoneNumber != null and phoneNumber != ''">#{phoneNumber},</if>
        <if test="grade != null and grade != ''">#{grade},</if>
        <if test="background != null and background != ''">#{background},</if>
        <if test="sex != null and sex != ''">#{sex},</if>
        <if test="age != null and age != ''">#{age},</if>
        <if test="scheduling != null and scheduling != ''">#{scheduling},</if>
        <if test="status != null and status != ''">#{status},</if>
        <if test="createBy != null and createBy != ''">#{createBy},</if>
        <if test="remark != null and remark != ''">#{remark},</if>
        sysdate()
        )
    </insert>

    <update id="updateUser" parameterType="MediaUser">
        update media_user
        <set>
            <if test="userId != null and userId != ''">user_id = #{userId},</if>
            <if test="userName != null and userName != ''">user_name = #{userName},</if>
            <if test="deptId != null and deptId != 0">dept_id = #{deptId},</if>
            <if test="password != null and password != ''">password = #{password},</if>
            <if test="phoneNumber != null and phoneNumber != ''">phonenumber = #{phoneNumber},</if>
            <if test="grade != null and grade != ''">grade = #{grade},</if>
            <if test="background != null and background != ''">background = #{background},</if>
            <if test="sex != null and sex != ''">sex = #{sex},</if>
            <if test="age != null and age != ''">age = #{age},</if>
            <if test="scheduling != null and scheduling != ''">scheduling = #{scheduling},</if>
            <if test="status != null and status != ''">status = #{status},</if>
            <if test="createBy != null and createBy != ''">create_by = #{createBy},</if>
            <if test="remark != null and remark != ''">remark = #{remark},</if>
            update_time = sysdate()
        </set>
        where user_id = #{userId}
    </update>


    <select id="checkUserNameUnique" parameterType="String" resultType="int">
        select count(1)
        from media_user
        where user_name = #{userName} limit 1
    </select>

    <select id="checkPhoneUnique" parameterType="String" resultMap="MediaUserResult">
        select user_id, phonenumber
        from media_user
        where phonenumber = #{phonenumber} limit 1
    </select>

    <update id="updateUserStatus" parameterType="MediaUser">
        update media_user
        set status = #{status}
        where user_id = #{userId}
    </update>

    <update id="updateUserAvatar" parameterType="MediaUser">
        update media_user
        set avatar = #{avatar}
        where user_name = #{userName}
    </update>

    <update id="resetUserPwd">
        <foreach collection="userIds" separator=";" item="item">
            update media_user
            <set>
                <if test="password != null and password != ''">password = #{password},</if>
            </set>
            where user_id = #{item}
        </foreach>
    </update>

    <delete id="deleteUserById" parameterType="Long">
        delete
        from media_user
        where user_id = #{userId}
    </delete>

    <delete id="deleteUserByIds" parameterType="Long">
        update media_user set del_flag = '2' where user_id in
        <foreach collection="array" item="userId" open="(" separator="," close=")">
            #{userId}
        </foreach>
    </delete>

</mapper>